header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 40px;
    background: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.logo {
    color: #d48712;
    transition: color .5s;
    user-select: none;
}

.logo-inventory {
    color: #4d4d4d;
    transition: color .5s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-link {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #fff;
    border-radius: 3px;
    left: 0;
    bottom: -10px;
    transition: width .5s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-btn {
    padding: 10px 35px;
    border: none;
    border-radius: 7px;    
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    background-color: #1f84ff;
    transition: background-color .5s;
    position: relative;
}

.nav-btn:hover {
    background-color: #006ff8;
}